---
---

@import "minimal-mistakes/skins/neon";
@import "minimal-mistakes";

.page__hero--overlay .page__title {
  font-size: 2.8rem !important;
  line-height: 1.2 !important;
}

.page__hero--overlay .page__lead {
  max-width: 100% !important;
  width: 100% !important;
  text-align: center !important;
  padding: 0 2rem !important;
  font-size: 1.6rem !important;
  line-height: 1.3 !important;
  margin-top: 0.3rem !important;   /* tighten spacing */
}


.page__hero--overlay .btn {
  font-size: 1.1rem !important;
  padding: 0.8rem 1.6rem !important;
}
