---
---

@import "minimal-mistakes/skins/neon";
@import "minimal-mistakes";

.page__hero--overlay .page__title {
  font-size: 2.8rem !important;
  line-height: 1.2 !important;
}

.page__hero--overlay .page__lead {
  font-size: 1.4rem !important;
  max-width: 760px !important;
  margin: 1.2rem auto !important;
}

.page__hero--overlay .btn {
  font-size: 1.1rem !important;
  padding: 0.8rem 1.6rem !important;
}
